.profilePasswordFormContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profilePasswordForm{
    margin-top: 10vh;
    min-width: 50vw;
    max-width: fit-content;
    min-height: 70vh;
    max-height: fit-content;
    border-radius: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
}
.signup_heading{
  margin-top: 1em;
  margin-bottom: 1em; 
} 
/* img{
    height: inherit;
    width: inherit;
}
.pwd-image-section{
    height: 0;
    width: 0;
    visibility: collapse;
}
@media screen and (min-width :1100px) {
    .pwd-image-section{
        visibility: visible;
        height: 11vh;
        width: 6vw;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}
.signupform-section{
    display: flex;
    flex-direction: column;
} */