*{
    padding:0;
    margin: 0;
}
.form-section{
    display: flex;
    justify-content: center;
}
.galleryUpload_form{
    margin-top: 5em;
    padding: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1em;
    max-width: 70vw;
    min-height: fit-content;
}
/* .form-container{
    margin-top: 1.5em;
    max-width: fit-content;
} */

.upload{
    border:2px dashed blue;
    margin-top:1em;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width: inherit;
}
.input{
    width: inherit;
}
.icon{
    zoom: 250%;
    padding-right: 0;
}
