.eventCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: auto;
    width: 20vw;
    margin-left: 2em;
    margin-top: 1em;
}

.websitelink {
    padding-top: 1.5em;
}

h1 {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.eventsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3em;
    justify-content: grid;
}